body
{
	background-color: rgba(78, 81, 102, 1);
	color: white;
	text-align: center;
}

.center
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table, th, td
{
    margin-top: -3px;
    border: 10px solid rgb(26, 5, 121);
    border-radius: 12px;
}

td
{
    border: none;
}

.frame
{
	margin: 30px;
    height: 290px;
    width: 225px;
	background-color: rgb(226, 209, 114);
    border: 10px solid rgb(26, 5, 121);
    opacity: 1;
    border-radius: 12px;
}

.inputButton
{
    border: 10px solid rgb(26, 5, 121);
    border-radius: 12px;
    background-color: rgb(26, 5, 121);
    color: rgb(226, 209, 114);
    cursor: pointer;
}

.inputButton:hover
{
    transition: 0.1s;
    transform: scale(1.1);
}

.button
{
    background-color: rgb(2, 2, 88);
	border: 1px solid white;
	border-radius: 12px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover
{
    transition: 0.2s;
    transform: scale(1.05);
}

.textBox
{
    margin-top: 10px;
    border: 5px solid rgb(26, 5, 121);
    border-radius: 15px;
    background-color: rgb(236, 232, 177);
    color: rgb(26, 5, 121);
    font-weight: 900;
    padding: 5px;
}

.row
{
	display: flex;
}

.column
{
	flex: 33.33%;
	padding: 5px;
}

.center
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}